.navbar-brand{
  position: sticky;
  background-color: rgba(241, 99, 16, 0.641);
  width: 10px;
}
/* Additional styles for responsiveness */
@media (max-width: 1920px) {
  /* Adjust the styles for screens with a width of 768px or less */
  .footer {
    font-size: 20px; /* Adjust the font size */
  }
}
.nav-link{
  position: sticky;
  background-color: #cd0505;
  width:100%;
  
}/* Additional styles for responsiveness */
@media (max-width: 1920px) {
  /* Adjust the styles for screens with a width of 768px or less */
  .footer {
    font-size: 20px; /* Adjust the font size */
  }
}

.container{
  background-color: rgb(220, 222, 227);
  
  width: 50px;
}
/* Additional styles for responsiveness */
@media (max-width: 1920px) {
  /* Adjust the styles for screens with a width of 768px or less */
  .footer {
    font-size: 20px; /* Adjust the font size */
  }
}

.footer {
  position: fixed;
  bottom: 0;
  width:100%;
  height: 50px;
  background-color: rgb(100, 104, 104);
  text-align: center;
  color: rgb(245, 243, 239);
  
}


/* Additional styles for responsiveness */
@media (max-width: 1920px) {
  /* Adjust the styles for screens with a width of 768px or less */
  .footer {
    font-size:15px; /* Adjust the font size */
  }
}



.todotitle{
  color: #cd0505;
}
/* Additional styles for responsiveness */
@media (max-width: 1920px) {
  /* Adjust the styles for screens with a width of 768px or less */
  .footer {
    font-size: 20px; /* Adjust the font size */
  }
}

.appoint{
  color: #f87c00;
}
/* Additional styles for responsiveness */
@media (max-width: 1920px) {
  /* Adjust the styles for screens with a width of 768px or less */
  .footer {
    font-size: 20px; /* Adjust the font size */
  }
}

.bg{
  background-image: url('./public/wp3066953.jpg');
  width: auto;
  height: auto;
  background-size: contain;
  
}/* Additional styles for responsiveness */
@media (max-width: 1920px) {
  /* Adjust the styles for screens with a width of 768px or less */
  .footer {
    font-size: 20px; /* Adjust the font size */
  }
}




.lg{
  background-image: url('./public/todo.jpg');
  width: auto;
  height: auto;
  background-size: contain;
}
/* Additional styles for responsiveness */
@media (max-width: 1920px) {
  /* Adjust the styles for screens with a width of 768px or less */
  .footer {
    font-size: 20px; /* Adjust the font size */
  }
}


/* Add green border for available dates */
.green-border {
 background-color: rgb(60, 179, 9); /* Culoarea de fundal roșie */
  color: rgb(231, 233, 229); /* Text alb pe fundal roșu */
}

/* Add red border for unavailable dates */
.red-border {
   background-color: red; /* Culoarea de fundal roșie */
  color: rgb(220, 211, 206); /* Text alb pe fundal roșu */
}


/* Add this to your CSS file */
.alert {
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}





